* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

html {
  background-color: #7b00b1;
  scroll-behavior: smooth;
}

:root {
  --first: #8a38f5;
  --second: #ffffff;
  --third: #9994f7;
  --fourth: #c30000;
  --Fifth: #ca4300;
  --sixth: #68a800;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: var(--first);
  color: var(--second);
  outline: var(--second) solid 2px;
  box-shadow: 0 0 1rem 0;
}

.navbar .logo img {
  width: 2rem;
  cursor: default;
}

.navbar .logo img:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.navbar .item p {
  width: 600;
  color: var(--second);
}

.navbar .item {
  gap: 1.5rem;
  display: flex;
  align-items: center;
  color: var(--third);
}

.logos {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--second);
  text-shadow: 2px 3px rgba(0, 0, 0, 0.2);
}

.logos:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.navbar .garis {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section,
.info .about,
.info .skill-container,
.info .project-container,
.mail,
.contact {
  scroll-margin-top: 100px;
}

.info .about {
  margin-top: 3rem;
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  width: 60%;
  height: 320px;
  outline: solid 5px var(--second);
  background-color: var(--third);
  box-shadow: rgb(0, 0, 0) 0.5rem 0.5rem 0.7rem 0;
}
.text {
  margin-right: 2rem;
}

.info .about h1 {
  font-weight: 900;
  font-size: 2.3rem;
  line-height: 1.2;
  color: var(--second);
  text-shadow: 2px 3px rgba(0, 0, 0, 0.2);
}

.info .about h1 span {
  display: block;
}

.info .about  p {
  font-weight: 700;
  font-size: 0.95rem;
  max-width: 420px;
  margin-top: 1.2rem;
  line-height: 1.5;
  color: var(--second);
  text-shadow: 2px 3px rgba(0, 0, 0, 0.2);
}

.info .about img {
  max-width: 400px;
  box-shadow: 10px;
}

.info .about img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.info .skill-container {
  margin-top: 3rem;
  padding: 1rem;
  gap: 100px;
  border-radius: 5px;
  width: 60%;
  justify-content: center;
  outline: solid 5px var(--second);
  background-color: var(--first);
  box-shadow: rgb(0, 0, 0) 0.5rem 0.5rem 0.7rem 0;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.2);
}

.sk1 {
  font-weight: 800;
  font-size: 2rem;
  color: var(--second);
}

.km1 {
  font-weight: 800;
  font-size: 1.5rem;
  color: var(--second);
}

.info .skill {
  display: flex;
  margin-top: 3rem;
  padding: 40px;
  gap: 100px;
  border-radius: 5px;
  justify-content: center;
}

#kmp {
  height: 500px;
  width: 200px;
  outline: solid 5px var(--second);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: black 0.5rem 0.5rem 0.7rem 0;
}

.info .skill .kumpulan1 {
  background-color: var(--fourth);
}

.info .skill .kumpulan2 {
  background-color: var(--Fifth);
}

.info .skill .kumpulan3 {
  background-color: var(--sixth);
}

.info .skill #kmp:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: black 0.8rem 0.8rem 1rem 0;
}

.info .skill img {
  padding: 0 0 20rem 0;
  width: 50%;
  box-shadow: 4px;
  margin: 20px 50px 20px 50px;
}

.info .project-container {
  border-radius: 5px;
  width: 60%;
  margin: 3rem 0;
  padding: 1rem;
  outline: solid 5px var(--second);
  background-color: var(--first);
  box-shadow: rgb(0, 0, 0) 0.5rem 0.5rem 0.7rem 0;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.2);
}

.info .project  {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.info .project .code-1 img {
  max-width: 350px;
  outline: solid var(--second);
  border-radius: 5px;
  margin: 20px;
  box-shadow: black 0.5rem 0.5rem 0.7rem 0;
}

.info .project .code-1 img:hover {
  transform: scale(1.05);
  transition: 0.3s;
  box-shadow: black 0.7rem 0.8rem 1rem 0;
}

.code-screenshots {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}

.code-screenshots .code-2 {
  max-width: 350px ;
  gap: 1rem;
  outline: solid var(--second);
  border-radius: 5px;
  box-shadow: black 0.5rem 0.5rem 0.7rem 0;
}

.code-screenshots .code-2:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: black 0.7rem 0.8rem 1rem 0;
}

.code-screenshots .code-3 {
  font-size: 1.5rem;
  max-width: 250px;
  display: flex;
  padding: 10px 20px;
  border: 3px solid var(--second);
  background-color: transparent;
  border-radius: 5px;
  color: var(--second);
  cursor: pointer;
  gap: 5rem;
  box-shadow: black 0.3rem 0.3rem 0.5rem 0;
}

.code-screenshots .code-3:hover {
  background-color: var(--second);
  color: var(--first);
  border: var(--third) 3px solid;
  transition: 0.3s;
  box-shadow: black 0.5rem 0.5rem 0.7rem 0;
}

.icon {
  max-width: 2rem ;
  height: auto;
}

.mail {
  width: 60%;
  margin-bottom: 3rem;
  background-color: var(--first);
  outline: var(--second) 5px solid;
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgb(0, 0, 0) 0.5rem 0.5rem 0.7rem 0;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.2);
}

.em1 {
  font-size: 1rem;
  text-align: left;
  margin: 0 0 0 0.5rem;
  color: var(--second);
}

.mail input {
  border: 5px solid var(--second);
  border-radius: 5px;
  outline: none;
  font-weight: 900;
  width: 600px;
  height: 50px;
  color: var(--second);
  background-color: var(--third);
  font-size: 1rem;
  box-shadow: rgb(0, 0, 0) 0.01rem 0.1rem 0.2rem 0;
}

.mail input:active {
  background-color: transparent;
}

.mail textarea {
  padding: 5px 10px;
  border: 5px solid var(--second);
  border-radius: 5px;
  outline: none;
  font-weight: 900;
  width: 600px;
  height: 150px;
  color: var(--second);
  background-color: var(--third);
  font-size: 1rem;
  resize: none;
  box-shadow: rgb(0, 0, 0) 0.01rem 0.1rem 0.2rem 0;
}

.mail textarea:active {
  background-color: transparent;
}

.mail button {
  display: flex;
  width: 100pxxx;
  color: var(--second);
  outline: var(--second) 5px solid;
  border: none;
  background-color: var(--third);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 900;
  padding: 5px 10px;
  margin-top: 20px;
  margin-left: 10px;
  justify-content: center;
  box-shadow: rgb(0, 0, 0) 0.3rem 0.3rem 0.5rem 0;
}

.mail button :active {
  background-color: transparent;
  box-shadow: rgb(0, 0, 0) 0.5rem 0.5rem 0.7rem 0;
}

.contact {
  text-align: center;
  margin-top: 150px;
  padding: 40px;
  gap: 20px;
  width: 100%;
  height: 150px;
  color: var(--second);
  outline: solid 5px var(--second);
  background-color: var(--first);
  box-shadow: rgb(0, 0, 0) 0.5rem 0.5rem 0.7rem 0;
}

.contact .sosial {
  gap: 1rem;
  padding: 10px 0;
  display: flex;
  text-align: center;
  justify-content: center;
}

.contact h1 {
  font-weight: 900;
  font-size: 1.5rem;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.2);
}

.contact p {
  font-weight: 700;
  font-size: 0.8rem;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.2);
}

/* tablet */
@media screen and (max-width: 1200px) {
  .info .about img {
    width: 30%;
    box-shadow: 10px;
    position: absolute;
    top: 5rem;
    right: 0rem;
  }

  .info .skill {
    display: flex;
    margin: 30px 50px 30px;
    padding: 40px;
    gap: 30px;
    border-radius: 5px;
    justify-content: center;
  }

  #sc3 {
    position: absolute;
    top: 22rem;
    left: 0;
  }

  #sc4 {
    position: absolute;
    top: 28rem;
    left: 0;
  }

  .code-screenshots .code-3 b {
    font-size: 60%;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
}

/* handphone */
@media screen and (max-width: 767px) {
  .navbar .item a,
  .navbar .item p {
    display: none;
  }

  .navbar .garis {
    display: flex;
    cursor: pointer;
  }

  .info .about {
    margin: 60px 50px 30px;
    padding: 40px;
    gap: 20px;
    display: flex;
    border-radius: 5px;
    width: 90%;
    outline: solid 5px var(--second);
    background-color: var(--third);
    box-shadow: rgb(0, 0, 0) 0.5rem 0.5rem 0.7rem 0;
  }

  .info .about h1 {
    font-weight: 800;
    font-size: 1.5rem;
    color: var(--second);
    text-shadow: 2px 3px rgba(0, 0, 0, 0.2);
  }

  .info .about h1 p {
    font-weight: 800;
    font-size: 0.7rem;
    margin-top: 20px;
    color: var(--second);
  }

  .info .about img {
    width: 30%;
    box-shadow: 10px;
    position: absolute;
    top: 6rem;
    right: 0rem;
  }

  .info .skill {
    display: flex;
    margin: 30px 50px 30px;
    padding: 40px;
    gap: 40px;
    border-radius: 5px;
    justify-content: center;
  }

  #kmp {
    height: 500px;
    width: 150px;
    outline: solid 5px var(--second);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: black 0.5rem 0.5rem 0.7rem 0;
  }

  .info .skill img {
    padding: 0 0 200px 0;
    width: 7rem;
    height: 30rem;
    box-shadow: 4px;
    margin: 20px 50px 20px 50px;
  }

  .km1 {
    font-weight: 800;
    font-size: 30px;
    padding-bottom: 50px;
    color: var(--second);
  }

  .sk1 {
    font-weight: 800;
    font-size: 2rem;
    padding-bottom: 50px;
    color: var(--second);
  }

  #sc1 {
    position: absolute;
    top: 2rem;
    left: 1rem;
  }

  #sc2 {
    position: absolute;
    top: 4rem;
    left: -0rem;
  }

  .code-screenshots .code-3 {
    width: 80%;
    display: flex;
    margin-top: 20px;
    padding: 10px 20px;
    border: 3px solid var(--second);
    background-color: transparent;
    border-radius: 5px;
    color: var(--second);
    cursor: pointer;
    gap: 40%;
    box-shadow: black 0.3rem 0.3rem 0.5rem 0;
  }

  .code-screenshots .code-3:hover {
    background-color: var(--second);
    color: var(--first);
    border: var(--third) 3px solid;
    transition: 0.3s;
    box-shadow: black 0.5rem 0.5rem 0.7rem 0;
  }

  .code-screenshots .code-3 b {
    font-size: 20%;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }

  #sc3 {
    position: absolute;
    top: 14rem;
    left: 0;
  }

  #sc4 {
    position: absolute;
    top: 18rem;
    left: 0;
  }

  .icon {
    width: 20%;
    height: auto;
  }

  .info .skill-container .sk1 {
    font-weight: 800;
    font-size: 3rem;
    color: var(--second);
  }

  .contact h1 {
    font-weight: 900;
    font-size: 1rem;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.2);
  }

  .contact p {
    font-weight: 700;
    font-size: 0.5rem;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.2);
  }

  .logos {
    font-size: 0.5rem;
    font-weight: 800;
    color: var(--second);
    text-shadow: 2px 3px rgba(0, 0, 0, 0.2);
  }
}
